

.mat-table{
    margin-left: 10%;
    border-spacing: 0;
    MARGIN-TOP: 20PX;
    width: 800px;
}
.mat-elevation-z8{
    margin-top: 30px;
    WIDTH: 90%;
    MARGIN-LEFT: 5%;
}
.paginator{
    BACKGROUND-COLOR: #fafafa;
}
.mat-form-field {
    font-size: 14px;
    width: 100%;
  }

