.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 250px;
}

.sidenav .mat-toolbar {
  background: #f2f7f5;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
.hidden { 
  display : none;
}
.image{
  width: 200px;
}
.mat-toolbar.mat-primary {
  background: #3fb57a;
  color: #fff;
}
.mat-drawer.mat-drawer-side{
  background: white;  
}
.mat-button{
  margin-left: 90%;
  
}
.usericon{
  margin-top: -25px;
 font-size: 50px;
}
.mat-menu-content:not(:empty) {
  padding-top: 25px;
  padding-bottom: 15px;
}
hr {
   margin-top: 0px; 
  margin-bottom: 0px; 
  border: 0;
  border-top: 1px solid rgb(223, 219, 219);
}
.mat-expansion-panel-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  border-radius: none;
}
.mat-expansion-panel:not([class*=mat-elevation-z]) {
  box-shadow: none;
}
.mat-expansion-panel-header {
  margin-right: 20px;
  font-family: Roboto,"Helvetica Neue",sans-serif;
  font-size: 15px;
  font-weight: 400;
}